<ion-navbar *navbar>
  <div class="striped-header"></div>
  <ion-title>Search consultant</ion-title>
</ion-navbar>

<ion-toolbar primary>
  <ion-searchbar [(ngModel)]="searchQuery" (input)="filterList($event)"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-list *ngIf="userList.length > 0" class="vt-list">
    <ion-item *ngFor="#user of filteredUserList | orderBy : 'name'" (click)="goToDetailPage(user)">
      <ion-avatar item-left>
        <img src="https://euricom-vitarum-dev.herokuapp.com/{{user.picture}}">
      </ion-avatar>
      <h2>{{user.name}}</h2>
    </ion-item>
  </ion-list>
  <p *ngIf="filteredUserList.length === 0" padding>No users found that match your criteria</p>
</ion-content>

