<ion-navbar *navbar>
  <div class="striped-header"></div>
  <ion-title>CV's</ion-title>
</ion-navbar>

<ion-content class="user-detail">
  <header>
    <ion-avatar>
      <img src="https://euricom-vitarum-dev.herokuapp.com/{{user.picture}}">
    </ion-avatar>

    <h4>{{user.name}}</h4>
  </header>
  
  <ion-list *ngIf="resumeList.length > 0">
    <ion-item-sliding *ngFor="#resume of resumeList">
      <ion-item>
        <ion-icon name="lock" *ngIf="resume.state === 'private'"></ion-icon>
        <ion-icon name="unlock" *ngIf="resume.state === 'public'"></ion-icon>
        <h2>{{resume.name}}</h2>
        <p>Last updated {{resume.updated}} by {{resume.updatedBy}}</p>
      </ion-item>
      <ion-item-options>
        <button primary (click)="previewResume(resume)">
          <ion-icon name="eye"></ion-icon>
          Preview
        </button>
        <button secondary (click)="sendResume(resume)">
          <ion-icon name="mail"></ion-icon>
          Mail CV
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p *ngIf="resumeList.length <= 0">There are no public resumes for this employee.</p>
</ion-content>